<div class="container container-fluid py-3">
  <button mat-fab color="primary" (click)="goBack()" class="mb-3">
    <mat-icon>arrow_back</mat-icon>
  </button>

  @if (juego$ | async; as resultObject) {
  <mat-card>
    <img
      mat-card-image
      [src]="
        'https://cdn.akamai.steamstatic.com/steam/apps/' +
        resultObject.appid +
        '/header.jpg'
      "
      [alt]="resultObject.name"
    />

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>#</span>
          <span matListItemLine>{{ resultObject.appid }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Juego</span>
          <span matListItemLine>{{ resultObject.name }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Desarrollador</span>
          <span matListItemLine>{{ resultObject.developer }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Editor</span>
          <span matListItemLine>{{ resultObject.publisher }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Precio</span>
          <span matListItemLine>{{
            resultObject.price | price | currency : "USD" : "symbol"
          }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Idiomas</span>
          <span matListItemLine>{{ resultObject.languages }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Género</span>
          <span matListItemLine>{{ resultObject.genre }}</span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <span matListItemTitle>Etiquetas</span>
          <span matListItemLine
            >@for (etiqueta of resultObject.tags | keyvalue; track etiqueta.key)
            { {{ etiqueta.key }}@if (!$last) {,} }</span
          >
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions class="px-3 pb-3" align="end">
      @if (indexOfJuego(resultObject.appid) == -1) {
      <button
        mat-fab
        extended
        color="primary"
        type="button"
        (click)="addJuego(resultObject)"
        class="ms-2"
      >
        <mat-icon>add_shopping_cart</mat-icon>
        Añadir al Carrito
      </button>
      } @else {
      <button
        mat-fab
        extended
        color="warn"
        type="button"
        (click)="removeJuego(resultObject.appid)"
        class="ms-2"
      >
        <mat-icon>remove_shopping_cart</mat-icon>
        Quitar del Carrito
      </button>
      }
    </mat-card-actions>
  </mat-card>
  } @if (errorMessage) {
  <app-mensaje-error [mensajeError]="errorMessage"></app-mensaje-error>
  }
</div>
