<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/lista-juegos">Lista Juegos</a>
      <a mat-list-item routerLink="/perfil/biblioteca">Biblioteca</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>Vapor Games</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        @if (!isUserAuthenticated) {
        <a mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        } @else {
        <a mat-menu-item routerLink="/perfil">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </a>
        <a mat-menu-item routerLink="/perfil/carrito">
          <mat-icon>shopping_cart</mat-icon>
          <span>Carrito</span>
        </a>
        <a mat-menu-item routerLink="/perfil/transacciones">
          <mat-icon>receipt</mat-icon>
          <span>Transacciones</span>
        </a>
        <a mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
        }
      </mat-menu>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
