

<div class="container px-lg-5">
  <div class="row gx-lg-5">
    @for(juego of juegosBiblioteca; track juego.appid){

    <div class="col-lg-6 col-xxl-4 mb-5">
      <a href="/lista-juegos/detalles-juego/{{juego.appid}}" style="text-decoration: none; color: inherit;">
        <div class="border border-2 rounded-3 p-4 h-100">
          <div class="text-center">


            <img mat-card-image class="card-img" [src]="
          'https://cdn.akamai.steamstatic.com/steam/apps/' +
          juego.appid +
          '/header.jpg'
          " [alt]="juego.name" />
            <hr>
            <span>Titulo: {{juego.name}}</span><br>
            <span>Genero: {{juego.genre}}</span>

          </div>
        </div>
      </a>
    </div>
    }
  </div>
</div>


